/* Hero Header */
.hero-section {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    text-align: center;
    width: 100vw;
    min-width: 23.4375rem; /* 375px */
    min-height: 15.645625rem; /* 250.33px */
}

.hero-text {
    -webkit-text-stroke-width: 0.054rem; /* 0.8621307611465454px */
    -webkit-text-stroke-color: var(--White);
    color: transparent;
    font-family: 'Space Mono';
    font-size: 6rem; /* 96px */
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.main-contenu {
    max-width: 71.75rem; /* 1148px */
    margin: auto; 
}

/* Filtres */
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.75rem 0 2.5rem; /* 76px 0px 40px 0px */
}

.filter-left {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.custom-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 16.25rem; /* 260px */
}

.custom-select i {
    position: absolute;
    right: 0.625rem; /* 10px */
    pointer-events: none;
    font-size: 0.875rem; /* 14px */
}

select {
    border-radius: 0.5rem; /* 8px */
    border: 1.3px solid var(--Gris-medium);
    background: var(--White);
    padding: 0.6875rem 1.125rem; /* 11px 18px */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    width: 100%;
    height: 2.625rem; /* 42px */
    padding-right: 2.5rem; /* 40px */
    transition: background 1s ease, border-color 0.5s ease;
}

select:hover {
    background: var(--cor-mariage);
    color: var(--White);
}

select option {
    background: var(--White) !important;
    color: var(--noir-100);
}

select option:hover {
    background: var(--cor-mariage);
    color: var(--White);
}

select:focus {
    outline: none;
    border-color: var(--Gris-medium);
}

/* Portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    height: 30.9375rem; /* 495px */
    min-width: 19.8540625rem; /* 317.665px */
    min-height: 17.4250625rem; /* 278.801px */
}

.portfolio-image {
    max-width: 35.25rem; /* 564px */
    max-height: 30.9375rem; /* 495px */
    min-height: 17.4250625rem; /* 278.801px */
    min-width: 19.8540625rem; /* 317.665px */
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.portfolio-title {
    position: absolute;
    bottom: 0.625rem; /* 10px  */
    left: 0.625rem; /* 10px  */
    color: var(--White);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3125rem; /* 5px  */
    font-size: 1rem; /* 16px  */
}

#load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#load-more button {
    width: 17rem; /* 272px */
    height: 3.125rem; /* 50px */
    padding: 0.5rem 0.9375rem; /* 8px 15px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */
    border-radius: 0.125rem; /* 2px */
    border: none;
    background: var(--Gris-medium);
    box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.02); /* 0px 2px 1px */
    transition: background 1s ease, font-weight 0.3s ease;
}

#load-more button:hover {
    background: var(--noir-100);
    cursor: pointer;
    color: var(--White);
}

.no-more-posts {
    display: block;
    text-align: center;
    margin: 1.25rem auto; /* 20px */
    font-family: 'Space Mono', monospace; 
    color: var(--Bleu-fonc); 
    font-size: 1rem; 
}

/* Media Queries */
@media (max-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hero-section {
        margin-top: 5rem; /* 80px */
        height: fit-content;
    }

    .hero-text {
        -webkit-text-stroke-width: 0.01875rem; /* 0.3px */
        font-size: 1.725rem; /* 27.588px */
    }

    .portfolio-item {
        height: auto; /* Permet à la hauteur de s'ajuster */
        min-height: 17.4250625rem; /* 278.801px */
        width: 19.8540625rem; /* 317.665px */
        height: 17.4250625rem; /* 278.801px */
        flex-shrink: 0;
    }

    .portfolio-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .custom-select {
        width: 16.875rem; /* 270px */
        margin: auto; 
    }

    .select {
        width: 16.875rem; /* 270px */
    }
}

@media (max-width: 1000px) {
    .filter-section {
        flex-direction: column;
        margin: 1.25rem 3.125vw; /* 20px */
        align-items: center;
    }

    .filter-left, .filter-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0.625rem; /* 10px */
    }

    .custom-select {
        width: 16.875rem; /* 270px */
        margin-bottom: 0.625rem;
        margin: auto;
    }
}
