/* Hero Header */
.hero-section {
    max-width: 1440px;  
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    text-align: center;
    width: 100vw;
    min-width: 23.4375rem; /* 375px */
    min-height: 15.645625rem; /* 250.33px */
}

.hero-text {
    -webkit-text-stroke-width: 0.8621307611465454px;
    -webkit-text-stroke-color: var(--White);
    color: transparent; /* Torna a cor do texto transparente */
    font-family: 'Space Mono';
    font-size: 6rem; /* 96px */
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.main-contenu {
    max-width: 1148px;
    margin: auto; 
}

/* Filtres */
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 76px 0px 40px 0px;
}

.filter-left {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.custom-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 16.25rem; /* 260px / 16 */
}

.custom-select i {
    position: absolute;
    right: 0.625rem; /* 10px */
    pointer-events: none;
    font-size: 0.875rem; /* 14px */
}

select {
    border-radius: 0.5rem; /* 8px */
    border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
    background: var(--White, #FFF);
    padding: 0.6875rem 1.125rem; /* 11px 18px */
    -webkit-appearance: none; /* Pour annuler le style par défaut dans certains navigateurs */
    -moz-appearance: none; /* Pour annuler le style par défaut dans certains navigateurs */
    appearance: none !important; /* Pour annuler le style par défaut */
    width: 100%;
    height: 2.625rem; /* 42px / 16 */
    padding-right: 2.5rem; /* 40px / 16 */
    transition: background 1.0s ease, border-color 0.5s ease;
}

select:hover {
    background: #E00000;
    color: var(--White);
}

select option {
    background: solid var(--White, #FFF) !important;
    color: #000;
}

select option:hover {
    background: #E00000;
    color: var(--White);
}

/* Supprimer la bordure bleue par défaut lors de la sélection */
select:focus {
    outline: none;
    border-color: var(--Blues-Gray2, #B8BBC2);
}

/* Portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    height: 30.9375rem; /* 495px */
    min-width: 19.8540625rem; /* 317.665px */
    min-height: 17.4250625rem; /* 278.801px */
}

.portfolio-image {
    max-width: 564px;
    max-height: 495px;
    min-height: 17.4250625rem; /* 278.801px */
    min-width: 19.8540625rem; /* 317.665px */
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

.portfolio-title {
    position: absolute;
    bottom: 0.625rem; /* 10px  */
    left: 0.625rem; /* 10px  */
    color: var(--White);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3125rem; /* 5px  */
    font-size: 1rem; /* 16px  */
}

#load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#load-more button {
    width: 17rem; /* 272px / 16 */
    height: 3.125rem; /* 50px / 16 */
    padding: 0.5rem 0.9375rem; /* 8px 15px */
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */
    border-radius: 0.125rem; /* 2px */
    border: none;
    background: #D8D8D8;
    box-shadow: 0px 0.125rem 0.0625rem 0px rgba(0, 0, 0, 0.02); /* 0px 2px 1px */
    transition: background 1s ease, font-weight 0.3s ease;
}

#load-more button:hover {
    background: #000000;
    cursor: pointer;
    color: var(--White);
}

.no-more-posts {
    display: block; 
    text-align: center;
    margin: 1.25rem auto; /* 20px */
    font-family: 'Space Mono', monospace; 
    color: #333; 
    font-size: 1rem; 
}

/* Media Queries  */
@media (max-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hero-section {
        height: fit-content;
    }

    .hero-text {
        -webkit-text-stroke-width: 0.3px;
        font-size: 27.588px; 
    }

    .portfolio-item {
        height: auto; /* Permet à la hauteur de s'ajuster */
        min-height: 17.4250625rem; /* 278.801px */
        width: 317.665px;
        height: 278.801px;
        flex-shrink: 0;
    }

    .portfolio-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1000px) {
    .filter-section {
        flex-direction: column;
        margin: 1.25rem 3.125vw; /* 20px */
        align-items: center;
    }

    .filter-left, .filter-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .custom-select {
        width: 100%; /* Adapter la largeur des sélecteurs pour occuper toute la largeur disponible */
        margin-bottom: 0.625rem; /* Ajouter de l'espace entre les sélecteurs */
    }
}
