/* LIGHTBOX */
.lightbox-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.lightbox-content-wrapper {
    display: flex;
    align-items: center;
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
}

.lightbox-nav {
    cursor: pointer;
    font-size: 2em;
    color: var(--White);
    z-index: 1051;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-nav img {
    margin: 0 10px;
}

.lightbox-nav span {
    color: var(--White);
    font-family: "Space Mono", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lightbox-prev {
    justify-content: flex-start;
}

.lightbox-next {
    justify-content: flex-end;
}

.lightbox-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
    max-width: 100%;
    max-height: 100%;
}

.lightbox-content {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin-bottom: 20px;
}

.lightbox-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--White);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 10px;
}

.close-lightbox {
    position: absolute;
    top: 15%;
    right: 15%;
    cursor: pointer;
    color: var(--White);
    font-size: 2em;
    z-index: 1052;
}

/* SURVOL DES IMAGES DU PORTFOLIO */
.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-hover {
    max-width: 565px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Transparent au départ */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.portfolio-item:hover .portfolio-hover {
    background: rgba(0, 0, 0, 0.6);
    object-fit: cover;
    opacity: 1;
}

.image-title, .portfolio-category {
    position: absolute;
    color: var(--White);
    padding: 5px 10px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.image-title {
    bottom: 12px;
    left: 17px;
}

.portfolio-category {
    bottom: 12px;
    right: 17px;
}

.view-icon, .expand-icon {
    color: var(--White);
    font-size: 24px;
    padding: 10px;
}

.view-icon {
    display: none;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expand-icon {
    display: none;
    position: absolute;
    top: 11px;
    right: 18px;
}

.portfolio-item:hover .view-icon, .portfolio-item:hover .expand-icon {
    display: block;
}

.portfolio-image {
    transition: transform 0.5s ease;
}

.portfolio-item:hover .portfolio-image {
    transform: none; /* Pas d'agrandissement */
}
