/* Styles globaux pour la modale */
.modal {
    display: none; /* Désactivé par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 37.3125rem; /* 597px */
    max-height: 48.0625rem; /* 769px */
    border: 0.3125rem solid var(--noir-100); /* 5px */
    padding: 0;
    background: var(--White);
    overflow: hidden;
}

/* Styles pour l'entête de la modale avec une image */
.modal-header img {
    padding-top: 3.125rem; /* 50px */
    width: 100%;
    display: block;
}

/* Bouton de fermeture personnalisé */
.close {
    display: none; /* Masqué par défaut */
    float: right;
    font-size: 1.75rem; /* 28px */
    font-weight: bold;
    cursor: pointer;
}

/* Styles pour le formulaire dans la modale */
.wpcf7-form {
    width: 100%;
    max-width: 16.4375rem; /* 263px */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--Bleu-fonc);
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
    text-transform: uppercase;
}

.wpcf7-form label {
    font-style: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0.5em;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea,
.wpcf7-form input[type="submit"] {
    width: 16.4375rem; /* 263px */
    margin-bottom: 1em;
    border-radius: 0.5rem; /* 8px */
    border: 1px solid var(--Gris-medium);
    background: var(--White);
    padding: 0.625rem; /* 10px */
    justify-content: center;
    align-items: center;
    display: block;
}

.wpcf7-form input[type="submit"] {
    height: 3.125rem; /* 50px */
    margin: auto;
    display: block;
    padding: 0.5rem 0.9375rem; /* 8px 15px */
    border-radius: 0.125rem; /* 2px */
    background: var(--Gris-medium);
    box-shadow: 0px 0.125rem 0.0625rem rgba(0, 0, 0, 0.02); /* 0px 2px 1px */
    cursor: pointer;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 1em;
    transition: background 1s ease, font-weight 0.3s ease;
}

.wpcf7-form input[type="submit"]:hover {
    background: var(--noir-100);
    color: var(--White);
}

/* Suppression des styles par défaut de Contact Form 7 */
span.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 1em;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    display: block;
    width: 16.4375rem; /* 263px */
}

/* Media Queries pour les styles mobiles */
@media (max-width: 768px) {
    .modal-content {
        width: 17.875rem; /* 286px */
        height: 36.4375rem; /* 583px */
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"],
    .wpcf7-form textarea,
    .wpcf7-form input[type="submit"] {
        width: calc(100% - 1.5rem); /* -24px */
    }

    .wpcf7-form {
        font-size: 0.75rem; /* 12px */
    }
}
