/*MODALE DE CONTACT*/

/* Styles globaux pour la modale */
.modal {
    display: none; /* Désactivé par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 597px;
    max-height: 769px;
    border: 5px solid #000;
    padding: 0px;
    background: #FFF;
    overflow: hidden;
}

/* Styles pour l'entête de la modale avec une image */
.modal-header img {
    padding-top: 50px;
    width: 100%;
    display: block;
}

/* Bouton de fermeture personnalisé */
.close {
    display: none; /* Masqué par défaut */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Styles pour le formulaire dans la modale */
.wpcf7-form {
    width: 100%;
    max-width: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #313144;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.wpcf7-form label {
    font-style: normal;
    line-height: normal;
    display: block;
    margin-bottom: 0.5em;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea,
.wpcf7-form input[type="submit"] {
    width: 263px;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: #FFF;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: block;
}

.wpcf7-form input[type="submit"] {
    height: 50px;
    margin: auto;
    display: block;
    padding: 8px 15px;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 1em;
    transition: background 1s ease, font-weight 0.3s ease;
}

.wpcf7-form input[type="submit"]:hover {
    background: #000000;
    color: white;
}

/* Suppression des styles par défaut de Contact Form 7 */
span.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 1em;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    display: block;
    width: 263px;
}

/* Media Queries pour les styles mobiles */
@media (max-width: 768px) {
    .modal-content {
        width: 286px;
        height: 583px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"],
    .wpcf7-form textarea,
    .wpcf7-form input[type="submit"] {
        width: calc(100% - 24px);
    }

    .wpcf7-form {
        font-size: 12px;
    }
}
