.portfolio-container {
    max-width: 71.75rem; /* 1148px */
    margin: 2.25rem auto; /* 36px */
}

h1.portfolio-title {
    color: var(--noir-100);
    font-family: "Space Mono";
    font-size: 4.125rem; /* 66px */
    font-style: italic;
    font-weight: 400;
    line-height: 3.625rem; /* 58px */
    text-transform: uppercase;
}

.info-left, .info-right {
    box-sizing: border-box;
    width: 50%;
}

.info-left {
    float: left;
    border-bottom: 1px solid var(--noir-100);
}

.info-right img {
    max-width: 35.188rem; /* 563px */
    height: 52.75rem; /* 844px */
    object-fit: cover;
    float: right;
}

.portfolio-info {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-left p {
    color: var(--noir-100);
    font-family: "Space Mono";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0875rem; /* 1.4px */
    text-transform: uppercase;
}

.interaction-block {
    height: 7.375rem; /* 118px */
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid var(--noir-100);
}

.interest-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interest-text {
    color: var(--noir-100);
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
    flex-basis: 25%;
}

.contact-button-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem; /* 272px */
    height: 3.125rem; /* 50px */
    gap: 0.625rem; /* 10px */
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    border-radius: 0.125rem; /* 2px */
    background: var(--Gris-medium);
    box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.02); /* 0px 2px 1px */
    font-size: 0.75rem; /* 12px */
    font-style: normal;
    transition: background 1s ease, font-weight 0.3s ease;
}

.contact-button:hover {
    font-weight: 700;
    background: var(--noir-100);
    color: var(--White);
}

.next-photo-container {
    width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.next-fleches {
    display: flex;
    flex-direction: row;
}

.fleche-gauche, .fleche-droite {
    transition: transform 0.3s ease;
}

.fleche-gauche {
    margin-right: 0.9375rem; /* 15px */
}

.fleche-droite {
    margin-left: 0.9375rem; /* 15px */
}

.fleche-gauche:hover, .fleche-droite:hover {
    transform: scale(1.3);
}

.related-photos h2 {
    color: var(--noir-100);
    font-family: "Space Mono";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0875rem; /* 1.4px */
    text-transform: uppercase;
    text-align: left;
    margin: 4.375rem 0 3.25rem; /* 70px 0px 52px 0px */
}

.photos-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem; /* 20px */
    margin-bottom: 6.8125rem; /* 109px */
}

.portfolio-item a img {
    max-width: 35.25rem; /* 564px */
    max-height: 30.9375rem; /* 495px */
    object-fit: cover;
}

.thumbnail-preview {
    display: none;
    position: absolute;
    border: 1px solid var(--noir-100);
    background: var(--White);
    z-index: 1000;
    width: 9.375rem; /* 150px */
    height: 9.375rem; /* 150px */
}

.thumbnail-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries for Mobile Devices */
@media (max-width: 1024px) {
    .portfolio-container {
        max-width: 100%;
        margin: auto;
    }

    .portfolio-info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1.portfolio-title {
        font-size: 3.125rem; /* 50px */
    }

    .info-left, .info-right, .interest-text, .contact-button-container {
        width: 100%;
        float: none;
        order: 2;
    }

    .info-right {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-right img {
        width: 16.5625rem; /* 265px */
        height: 24.8125rem; /* 397px */
    }

    .info-left {
        order: 2;
        padding-left: 3.5rem; /* 56px */
        padding-right: 3.5rem; /* 56px */
    }

    .interest-container {
        width: 16.4375rem; /* 263px */
        flex-direction: column;
    }

    .interaction-block {
        justify-content: center;
        padding-bottom: 0.625rem; /* 10px */
    }

    .related-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.25rem; /* 20px */
    }

    .interation-bouton {
        margin-bottom: 1.5rem; /* 24px */
    }

    .next-photo-container {
        display: none;
    }

    .related-photos h2 {
        text-align: center;
        margin-left: 0;
    }

    .photos-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .portfolio-item {
        margin-top: 0;
        margin-bottom: 1.25rem; /* 20px */
        min-width: 19.8540625rem; /* 317px */
        min-height: 17.4250625rem; /* 278px */
        object-fit: cover;
        margin-right: 0;
        margin-bottom: 0.625rem; /* 10px */
    }

    .portfolio-item:last-child {
        margin-bottom: 0;
    }

    .portfolio-item a img {
        max-width: 19.8540625rem; /* 317px */
        max-height: 17.4250625rem; /* 278px */
    }
}
