h1.portfolio-title {
    color: #000;
    font-family: "Space Mono";
    font-size: 4.125rem; /* 66px */
    font-style: italic;
    font-weight: 400;
    line-height: 3.625rem; /* 58px */
    text-transform: uppercase;
}

.info-left p {
    color: #000;
    font-family: "Space Mono";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0875rem; /* 1.4px */
    text-transform: uppercase;
}

.portfolio-container {
    max-width: 75rem; /* 1200px */
    margin: 0 auto;
    padding: 1.25rem; /* 20px */
}

.portfolio-info{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.related-photos {
    overflow: hidden;
    margin-bottom: 1.25rem; /* 20px */
}

.info-left, .info-right {
    box-sizing: border-box;
    padding: 0.625rem; /* 10px */
    width: 50%;

}

.info-left {
    float: left;
    border-bottom: 1px solid black;
}

.info-right img {
    max-width: 35.188rem; /* 563px */
    height: 52.75rem; /* 844px */
    
    object-fit: cover;
    float: right;
}

.interaction-block {
    height: 7.375rem; /* 118px */
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid black;
    margin-right: 0.9375rem; /* 15px */
}

.interest-text p {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
    flex-basis: 25%;
}

.contact-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    padding: 0.5rem; /* 8px */
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem; /* 272px */
    height: 3.125rem; /* 50px */
    gap: 0.625rem; /* 10px */
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 0.125rem 0.0625rem 0px rgba(0, 0, 0, 0.02);
    font-size: 0.75rem; /* 12px */
    font-style: normal;
    transition: background 1s ease, font-weight 0.3s ease;
}

.contact-button:hover {
    font-weight: 700;
    font-size: 0.75rem; /* 12px */
    background: #000000;
    cursor: pointer;
    color: white
}

.next-photo-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.next-fleches {
    display: flex;
    flex-direction: row;
}

.fleche-gauche, .fleche-droite {
    transition: transform 0.3s ease;
}

.fleche-gauche {
    margin-right: 15px;
}

.fleche-droite {
    margin-left: 15px;
}


.fleche-gauche:hover, .fleche-droite:hover {
    transform: scale(1.3);
}

.related-photos {
    margin-top: 1.25rem; /* 20px */
    text-align: center;
}

.related-photos h2 {
    color: #000;
    font-family: "Space Mono";
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0875rem; /* 1.4px */
    text-transform: uppercase;
    text-align: left;
    margin-left: 6.5rem; /* 20px */
    margin-bottom: 3.25rem; /* 52px */
}

.photos-container {
    display: flex;
    justify-content: space-between;
}

.related-photo {
    flex: 1;
    margin-right: 10px;
}

.photos-container {
    margin-left: 5.3125rem; /* 85px */
    margin-right: 5.3125rem; /* 85px */
    margin-bottom: 6.8125rem; /* 109px */
}

.related-photo a img {
    max-width: 35.25rem; /* 564px */
    max-height: 30.9375rem; /* 495px */
    object-fit: cover;
}

/* Media Queries for Mobile Devices */
@media (max-width: 1024px) { /* 768px */
    s
    body.single-portfolio {
        padding: 0;
    }

    .portfolio-info {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    h1.portfolio-title {
        font-size: 3.125rem; /* 50px */
    }

    .info-left, .info-right {
        width: 100%;
        float: none;
    }

    .info-right {
        order: 2;
    }

    .info-left {
        order: 1;
        margin-top: 0;
    }

    .interaction-block {
        flex-direction: column;
    }

   
    .interest-text, .contact-button-container {
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .next-photo-container {
        display: none;
    }

   

    .related-photos {
        margin-top: 0;
    }

    .related-photos h2 {
        text-align: center;
        margin-left: 0;
        margin-bottom: 1.25rem;
    }

    .photos-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .related-photo {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.625rem; /* 10px */
    }

    .related-photo a img {
        width: 19.85rem; /* 317.665px */
        height: 17.44rem; /* 278.801px */
        max-width: 100%;
    }

    .related-photo:last-child {
        margin-bottom: 0;
    }
}
